{% extends 'template/base.html' %}

{% block body %}

{% for i in product %}

<div class="product-widget">
								<div class="product-img">
									<a class="product-img" href="{% url 'home:detail' i.id %}"><img src="{{ i.image.url }}" alt=""></a>
								</div>
								<div class="product-body">
									<p class="product-category">{{ i.category.name }}</p>
									<h3 class="product-name"><a href="#">{{ i.name }}</a></h3>
									<h4 class="product-price">{{ i.total_price }}<del class="product-old-price">{{ i.unit_price }}</del></h4>
								</div>
							</div>

{% endfor %}

{% endblock %}